.resultContainer {
    margin: 50px auto;
    max-width: 700px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    
}

.resultContainer h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.resultContainer li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 20px;
    margin-left: 10px;
    list-style-type: none;
    font-style: oblique;
}